@import url('normalize.css');
@import url('helpers.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  font-weight: medium;
  color: #fff;
}

.button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.app {
  align-items: center;
  background-color: #B4CECF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.task {
  display: grid;
  font-size: 1.6em;
  font-weight: 400;
  grid-template-rows: 1fr 80px 1fr;
  max-width: 1000px;
  width: 100%;

  &__label {
    font-size: 2em;
    font-weight: 400;
    margin-bottom: 3em;
    text-align: center;
  }
    
  &__input {
    background: none;
    border: 2px solid #fff;
    border-radius: 100px;
    color: #fff;
    padding: 0 1.3em;
  }
}

.time {
  display: none;
}

.timer {
  border: 1px solid #000;
  display: none;
  
  &__display {
    
  }
  
  &__time {
    
  }
  
  &__breaks {
    
  }
  
  &__button {
    
  }
}
