@import url("normalize.css");
@import url("helpers.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap&subset=latin-ext");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  font-weight: medium;
  color: #fff;
}

.button {
  background: none;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.app {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #B4CECF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

.intro {
  border: 1px solid #000;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100px 1fr 100px;
      grid-template-columns: 100px 1fr 100px;
      grid-template-areas: "label-task input-task ." "label-time input-time ." ". start .";
  width: 100%;
  max-width: 800px;
}

.intro__label--task {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: label-task;
}

.intro__label--time {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: label-time;
}

.intro .intro__input--task {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: input-task;
}

.intro .intro__input--time {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: input-time;
}

.intro .intro__start {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: start;
}

.timer {
  border: 1px solid #000;
}
