@import url('normalize.css');
@import url('helpers.css');
@import '_variables.scss';
@import '_mixins.scss';
@import '_animations.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap&subset=latin-ext');

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #fff;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  font-weight: medium;
}

.button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0;
}

.slideInLeft { animation: slideInLeft $time-slide forwards; }
.slideInRight { animation: slideInRight $time-slide forwards; }
.slideOutLeft { animation: slideOutLeft $time-slide forwards; }
.slideOutRight { animation: slideOutRight $time-slide forwards; }

.app {
  @include flex-center;
  background-color: #B4CECF;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  padding: 150px 0;
}

.task,
.time {
  align-items: center;
  bottom: 0;
  display: grid;
  flex-grow: 1;
  font-size: 1.6em;
  font-weight: 400;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 80px 1fr;
  justify-items: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: visibility 0s $time-slide;
  visibility: hidden;
  width: 100%;
  
  &--visible {
    transition: visibility 0s;
    visibility: visible;
  }

  &__heading {
    margin: 0;
    font-size: 2em;
    font-weight: 400;
    grid-column: 1 / span 3;
  }
    
  &__input {
    align-self: stretch;
    background: none;
    border: 2px solid #fff;
    border-radius: 100px;
    color: #fff;
    justify-self: stretch;
    min-width: 50px;
    padding: 0 1.3em;
    text-align: center;

    &--name {
      grid-column: 2 / 3;
      text-align: left;
    }

    &::placeholder {
      color: #fff;
    }
  }

  &__row {
    align-self: stretch;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2 / 3;
    justify-items: center;
    width: 100%;
  }

  &__label {
    align-self: start;
    font-size: 0.7em;
    margin-top: 1em;

    &--name {
      grid-column: 2 / 3;
    }
  }

  &__alert {
    grid-column: 1 / 4;
    opacity: 0;
    transition: opacity $time-alert, visibility 0s $time-alert;
    visibility: hidden;

    &--visible {
      opacity: 1;
      transition: opacity $time-alert, visibility 0s;
      visibility: visible;
    }
  }

  &__button {
    fill: none;
    stroke: #fff;
    stroke-width: 20;
    width: 100px;

    &--right {
      grid-column: 3 / 4;
    }
  }

  &__svg {
    pointer-events: none;
    width: 100%;
  }

  &__start {
    border: 2px solid #fff;
    border-radius: 100px;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;

    &--disabled {
      color: $color-disabled;
      border-color: $color-disabled;
      cursor: default;
    }
  }
}

.timer {
  @include flex-center;
  bottom: 0;
  left: 0;
  right: 0;
  position: fixed;
  top: 0;
  visibility: hidden;
  transition: visibility 0s $time-slide;

  &--visible {
    visibility: visible;
    transition: visibility 0s;
  }

  &__container {
    align-items: center;
    column-gap: 20px;
    display: grid;
    flex-grow: 1;
    font-size: 1.6em;
    font-weight: 600;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 1fr 80px 1fr;
    height: 100%;
    justify-items: center;
    max-width: 1200px;
    row-gap: 100px;
    width: 100%;
  }

  &__heading {
    @extend .task__heading;
  }

  &__breaks {
    justify-self: right;
  }

  &__buttons {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-self: left;
  }
  
  &__button {
    border: 2px solid #fff;
    border-radius: 50%;
    fill: none;
    height: 80px;
    stroke: #fff;
    stroke-width: 15;
    width: 80px;
  }

  &__svg {
    pointer-events: none;
    width: 100%;

    &--hidden {
      display: none;
    }
  }
}
  
.display {
  @include flex-center;
  font-size: 2.5em;
  flex-direction: column;

  &__elapsed,
  &__remaining {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 50px 1fr 50px 1fr;
    justify-items: center;
  }
}

.progress {
  align-self: start;
  grid-column: 1 / span 3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__percent {
    margin-bottom: 10px;
  }

  &__bar {
    height: 6px;
    position: relative;
    width: 100%;
  }

  &__part {
    bottom: 0;
    position: absolute;
    top: 0;
    
    &--loaded {
      background-color: #C36565;
      left: 0;
      width: 0;
    }
  
    &--remaining {
      background-color: #fff;
      right: 0;
      width: 100%;
    }
  }
}