@import url("normalize.css");
@import url("helpers.css");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap&subset=latin-ext");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  font-weight: medium;
  color: #fff;
}

.button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0;
}

.app {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #B4CECF;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  height: 100%;
  padding: 150px 0;
}

.task,
.time {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.6em;
  font-weight: 400;
  -ms-grid-columns: 1fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 1fr;
  -ms-grid-rows: 1fr 80px 1fr;
      grid-template-rows: 1fr 80px 1fr;
  justify-items: center;
  width: 100%;
}

.task__heading, .timer__heading,
.time__heading {
  margin: 0;
  font-size: 2em;
  font-weight: 400;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.task__input,
.time__input {
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  text-align: center;
  background: none;
  border: 2px solid #fff;
  border-radius: 100px;
  color: #fff;
  -ms-grid-column-align: stretch;
      justify-self: stretch;
  min-width: 50px;
  padding: 0 1.3em;
}

.task__input--name,
.time__input--name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  text-align: left;
}

.task__input::-webkit-input-placeholder,
.time__input::-webkit-input-placeholder {
  color: #fff;
}

.task__input:-ms-input-placeholder,
.time__input:-ms-input-placeholder {
  color: #fff;
}

.task__input::-ms-input-placeholder,
.time__input::-ms-input-placeholder {
  color: #fff;
}

.task__input::placeholder,
.time__input::placeholder {
  color: #fff;
}

.task__row,
.time__row {
  -ms-grid-row-align: stretch;
      align-self: stretch;
  justify-items: center;
  display: -ms-grid;
  display: grid;
  gap: 40px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  width: 100%;
}

.task__label,
.time__label {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 0.7em;
  margin-top: 1em;
}

.task__label--name,
.time__label--name {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
}

.task__button,
.time__button {
  fill: none;
  stroke: #fff;
  stroke-width: 20;
  width: 100px;
}

.task__button--right,
.time__button--right {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3 / 4;
}

.task__svg,
.time__svg {
  width: 100%;
}

.task__start,
.time__start {
  font-size: 1.2em;
  font-weight: 600;
  border: 2px solid #fff;
  border-radius: 100px;
  text-transform: uppercase;
  width: 100%;
}

.timer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -ms-grid;
  display: grid;
  font-size: 1.6em;
  justify-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 100px;
  -ms-grid-columns: 200px 1fr 200px;
      grid-template-columns: 200px 1fr 200px;
  -ms-grid-rows: 1fr 80px 1fr;
      grid-template-rows: 1fr 80px 1fr;
  font-weight: 600;
  max-width: 1200px;
  width: 100%;
}

.timer__display {
  margin: 0;
  font-size: 2.5em;
}

.timer__breaks {
  margin: 0;
  -ms-grid-column-align: right;
      justify-self: right;
}

.timer__buttons {
  display: -ms-grid;
  display: grid;
  -ms-grid-column-align: left;
      justify-self: left;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.timer__button {
  border: 2px solid #fff;
  border-radius: 50%;
  width: 60px;
}

.progress-bar {
  position: relative;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  width: 100%;
  height: 6px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
}

.progress-bar__part {
  position: absolute;
  top: 0;
  bottom: 0;
}

.progress-bar__part--loaded {
  left: 0;
  width: 40%;
  background-color: #C36565;
}

.progress-bar__part--remaining {
  right: 0;
  width: 60%;
  background-color: #fff;
}

.task {
  display: none;
}

.time {
  display: none;
}

.timer {
  /* display: none; */
}
