@import url("normalize.css");
@import url("helpers.css");
@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: #fff;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 16px;
  font-weight: medium;
}

.button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0;
}

.slideInLeft {
  animation: slideInLeft $time-slide forwards;
}
.slideInRight {
  animation: slideInRight $time-slide forwards;
}
.slideOutLeft {
  animation: slideOutLeft $time-slide forwards;
}
.slideOutRight {
  animation: slideOutRight $time-slide forwards;
}

.app {
  @include flex-center;
  background-color: $color-cyan;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  padding: 150px 0;
}

.task,
.time {
  align-items: center;
  bottom: 0;
  display: grid;
  flex-grow: 1;
  font-size: 1.6em;
  font-weight: 400;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 80px 1fr;
  justify-items: center;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: visibility 0s $time-slide;
  visibility: hidden;
  width: 100%;

  &--visible {
    transition: visibility 0s;
    visibility: visible;
  }

  &__heading {
    margin: 0;
    font-size: 2em;
    font-weight: 400;
    grid-column: 1 / span 3;
  }

  &__input {
    align-self: stretch;
    background: none;
    border: 2px solid #fff;
    border-radius: 100px;
    color: #fff;
    justify-self: stretch;
    min-width: 50px;
    padding: 0 1.3em;
    text-align: center;

    &--name {
      grid-column: 2 / 3;
      text-align: left;
    }

    &::placeholder {
      color: #fff;
    }
  }

  &__row {
    align-self: stretch;
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 2 / 3;
    justify-items: center;
    width: 100%;
  }

  &__label {
    align-self: start;
    font-size: 0.7em;
    margin-top: 1em;

    &--name {
      grid-column: 2 / 3;
    }
  }

  &__alert {
    grid-column: 1 / 4;
    opacity: 0;
    transition: opacity $time-alert, visibility 0s $time-alert;
    visibility: hidden;

    &--visible {
      opacity: 1;
      transition: opacity $time-alert, visibility 0s;
      visibility: visible;
    }
  }

  &__button {
    fill: none;
    stroke: #fff;
    stroke-width: 20;
    width: 100px;

    &--right {
      grid-column: 3 / 4;
    }
  }

  &__svg {
    pointer-events: none;
    width: 100%;
  }

  &__start {
    border: 2px solid #fff;
    border-radius: 100px;
    font-size: 1.2em;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;

    &--disabled {
      border-color: $color-disabled;
      color: $color-disabled;
      cursor: default;
    }
  }
}

.timer {
  @include flex-center;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: visibility 0s $time-slide;
  visibility: hidden;

  &--visible {
    transition: visibility 0s;
    visibility: visible;
  }

  &__container {
    align-items: center;
    column-gap: 20px;
    display: grid;
    flex-grow: 1;
    font-size: 1.6em;
    font-weight: 600;
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 1fr 80px 1fr;
    height: 100%;
    justify-items: center;
    max-width: 1200px;
    row-gap: 100px;
    width: 100%;
  }

  &__heading {
    @extend .task__heading;
  }

  &__breaks {
    justify-self: right;
  }

  &__buttons {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-self: left;
  }

  &__button {
    border: 2px solid #fff;
    border-radius: 50%;
    fill: none;
    height: 80px;
    stroke: #fff;
    stroke-width: 15;
    width: 80px;
  }

  &__svg {
    pointer-events: none;
    width: 100%;

    &--hidden {
      display: none;
    }
  }
}

.display {
  font-size: 2.5em;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;

  &__container {
    @include flex-center;
    bottom: 0;
    display: grid;
    grid-template-columns: 80px 40px 80px 40px 80px;
    justify-items: center;
    left: 0;
    position: absolute;
    top: 0;
    transition: visibility 0s $time-display;
    visibility: hidden;
    width: 100%;

    &--visible {
      transition: visibility 0s;
      visibility: inherit;
    }

    &--showUp {
      animation: showUp $time-display forwards;
    }

    &--hideUp {
      animation: hideUp $time-display forwards;
    }
  }
}

.break {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-self: end;

  &__display {
    display: grid;
    grid-template-columns: 1.6em 0.5em 1.6em 0.5em 1.6em;
    justify-items: end;
  }
}

.progress {
  align-items: center;
  align-self: start;
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 3;
  justify-content: center;
  width: 100%;

  &__header {
    position: relative;
    width: 100%;
  }

  &__percent {
    @include flex-center;
    color: $color-tomato;
    font-size: 1em;
    font-weight: 600;
    left: 50%;
    margin: 0;
    position: absolute;
    top: -1.3em;
    transform: translateX(-50%);
    transition: visibility 0s;
    visibility: hidden;

    &--visible {
      visibility: inherit;
    }
  }

  &__bar {
    height: 6px;
    position: relative;
    width: 100%;
  }

  &__part {
    bottom: 0;
    position: absolute;
    top: 0;

    &--loading {
      background-color: $color-tomato;
      left: 0;
      width: 0;
    }

    &--unloading {
      background-color: #fff;
      right: 0;
      width: 100%;
    }
  }
}

.stop {
  @include flex-center;
  background-color: rgba($color: #000000, $alpha: 0.3);
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;

  &--visible {
    visibility: visible;
  }

  &__container {
    background-color: $color-cyan;
    border-radius: 10px;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(2, 1fr);
    padding: 2em;
  }

  &__heading {
    font-weight: 800;
    grid-column: 1 / span 2;
    margin: 0;
  }

  &__button {
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0.75em 2em;

    &:hover {
      background-color: $color-tomato;
      border-color: $color-tomato;
    }
  }
}

.outro {
  @include flex-center;
  background-color: $color-cyan;
  bottom: 0;
  flex-direction: column;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 1s, visibility 0s;
  visibility: hidden;

  &--visible {
    opacity: 1;
    visibility: visible;
  }

  &__container {
    max-width: 1000px;
  }

  &__heading {
    font-size: 4em;
    font-weight: 600;
    margin: 0.8em 0;
  }

  &__party {
    font-size: 2em;
  }

  &__message {
    font-size: 1.5em;
    line-height: 1.5;

    &--bold {
      color: $color-tomato;
      font-weight: 800;
    }
  }

  &__retry {
    align-self: flex-start;
    fill: #fff;
    transition: $hover-icon;
    width: 100px;

    &:hover {
      fill: $color-tomato;
    }
  }

  &__svg {
    width: 100%;
  }
}