// colors
$color-teal-light-3:  #e1edea;
$color-teal-light-2:  #9cb9bd;
$color-teal-light-1:  #769599;
$color-teal:          #50787c;
$color-teal-dark-1:   #305b60;
$color-teal-dark-2:   #2b5458;
$color-teal-dark-3:   #19373a;
$color-teal-accent:   #703035;
$color-teal-disabled: #ddd;

// MEDIA
$media-sm: 480px;
$media-md: 768px;
$media-lg: 1200px;

// LOGO ANIMATION
$logo-size: 600px;
$intro-time: 5s;

// TIME
$time-slide: 0.5s;
$time-display: 0.5s;
$time-button: 0.2s;
$hover-icon: 0.3s;
$focus-input: 0.2s;
$fade-stopTask: 0.3s;
$time-alert: 0.3s;
$hover-card: 0.4s;
$toggle-button: 0.5s;
$new-task-button: 0.5s;
$time-component-fade: 1s;

// LAYOUT
$layout-max-width: 1200px;

// BOARD
$board-padding-xs: 30px;
$board-padding-md: 80px;
$board-padding-lg: 90px;

$board-gap-xs: 30px;
$board-gap-md: 40px;
$board-gap-lg: 60px;

// HEADER
$header-padding-xs: 10px;
$header-padding-md: 20px;

// BURGER BUTTON
$burger-size-xs: 30px;
$burger-size-md: 40px;
$burger-size-lg: 50px;

// SIDEBAR
$sidebar-toggle: 0.3s;
$sidebar-edit-toggle: 0.3s;
$sidebar-width-xs: 100%;
$sidebar-width-md: 480px;
$sidebar-content-width-xs: 300px;
$sidebar-content-width-md: 340px;

// CONTROLS
$size-controls: 60px;

// SIZE
$close-button: 30px;
$main-button: 80px;
$progressBar-height: 16px;
$login-icons: 30px;

// CARDS
$toggle-card: 0.3s;
$radius-card: 10px;
$card-edit: 0.2s;
$card-padding: 10px;
$card-min-height: 540px;
$card-taskName-size: 1.6em;
$card-border: 4px solid $color-teal-dark-2;

// BOX SHADOWS
$card-shadow-small: 0 2px 5px rgba($color: $color-teal-dark-3, $alpha: 0.8);
$card-shadow-medium: 0 3px 8px rgba($color: $color-teal-dark-3, $alpha: 0.8);
$placeholder-shadow-small: inset 0 1px 4px $color-teal-dark-3;
$placeholder-shadow-medium: inset 0 3px 8px $color-teal-dark-3;