@use "../../styles/vars.global.scss" as vars;
@use "../../styles/mixins.global.scss" as mixins;

.app {
  @include mixins.flex-center;
  background-color: vars.$color-teal-dark-1;
  color: vars.$color-teal-light-2;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}