@use 'src/styles/vars.global.scss' as var;
@use 'src/styles/mixins.global.scss' as mix;

.container {
  @include mix.flex-center;

  bottom: -10%;
  max-width: 800px;
  position: absolute;
  right: -10%;
  transform: rotate(-20deg);
  width: 90%;
  z-index: 0;

  & > * {
    width: 100%;
  }

  .base {
    fill: var.$color-teal-dark-2;
  }

  .letter {
    fill: rgba($color: var.$color-teal-dark-3, $alpha: 0.5);
    position: absolute;
  }

  .shadow {
    position: absolute;

    &--base {
      fill: rgba($color: var.$color-teal-dark-3, $alpha: 0.5);
    }

    &--letter {
      fill: rgba($color: var.$color-teal-dark-3, $alpha: 0.5);
    }
  }
}
