@use 'src/styles/vars.global.scss' as var;
@use 'src/styles/mixins.global.scss' as mix;

.container {
  background-color: none;
  bottom: 0;
  color: var.$color-teal-light-3;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color var.$fade-stopTask,
    visibility 0s var.$fade-stopTask;
  visibility: hidden;

  &--visible {
    background-color: rgba($color: var.$color-teal-dark-1, $alpha: 0.8);
    transition: background-color var.$fade-stopTask, visibility 0s;
    visibility: visible;
  }

  .wrapper {
    background-color: var.$color-teal-accent;
    display: grid;
    gap: 1em;
    grid-template-areas:
      'head head'
      'stop exit';
    grid-template-columns: repeat(2, 1fr);
    padding: 2em;
    transform: translateY(-100%);
    transition: transform var.$fade-stopTask;

    &--visible {
      transform: translateY(0);
    }
  }

  .heading {
    font-weight: 600;
    grid-area: head;
    margin: 0;
    text-align: center;
  }

  .button {
    @include mix.button;

    border: 2px solid var.$color-teal-light-3;
    border-radius: 5px;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 0.7em 1em;
    transition: background-color var.$hover-icon, color var.$hover-icon;

    &:hover {
      background-color: var.$color-teal-light-3;
      color: var.$color-teal-accent;
    }

    &--stop {
      grid-area: stop;
    }
    &--cancel {
      grid-area: exit;
    }
  }
}
