@use 'src/styles/vars.global.scss' as var;
@use 'src/styles/mixins.global.scss' as mix;

.container {
  display: grid;
  grid-area: input;
  grid-template-areas:
    'label'
    'input'
    '.    ';
  grid-template-rows: 1fr 2fr 1fr;
  height: 100%;
  transform: translate(0);
  transition: transform var.$time-slide, visibility 0s var.$time-slide;
  user-select: none;
  visibility: hidden;
  width: 100%;

  &--taskName {
    transition: transform var.$time-slide, visibility 0s;
    visibility: visible;
  }

  &--taskTime,
  &--breakTime {
    transition: transform var.$time-slide, visibility 0s;
    visibility: visible;
  }

  .label {
    color: var.$color-teal-light-2;
    font-size: 2rem;
    grid-area: label;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .textContainer {
    display: flex;
    flex-direction: column;
    grid-area: input;
  }

  .text,
  .input {
    background: none;
    border: var.$card-border;
    border-color: var.$color-teal-light-2;
    color: var.$color-teal-light-3;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 15px;
    width: 100%;
    transition: background-color var.$time-button, border-color var.$time-button;

    &::placeholder {
      color: var.$color-teal-light-1;
      opacity: 1;
    }

    &:focus {
      background-color: var.$color-teal-dark-1;
      border-color: var.$color-teal-light-2;

      &::placeholder {
        color: var.$color-teal;
      }
    }

    &--invalid {
      background-color: var.$color-teal-accent;
      border-color: var.$color-teal-dark-2;

      &:focus {
        background-color: var.$color-teal-accent;
        border-color: var.$color-teal-dark-2;
      }
    }
  }

  .text {
    border-radius: 10px;
    height: 100%;
    resize: none;
  }

  .inputs {
    align-self: center;
    align-items: center;
    border: var.$card-border;
    border-color: var.$color-teal-light-2;
    border-radius: 10px;
    display: flex;
    font-size: 2.5rem;
    grid-area: input;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;

    &--invalid {
      background-color: var.$color-teal-accent;
      border-color: var.$color-teal-dark-2;

      &:focus {
        background-color: var.$color-teal-accent;
        border-color: var.$color-teal-dark-2;
      }
    }
  }

  .input {
    border: none;
    font-size: 2.5rem;
    font-weight: bold;
    outline: none;
    text-align: center;
    width: 45%;

    &::placeholder {
      font-size: 1.5rem;
    }
  }

  .progress {
    background-color: var.$color-teal-accent;
    height: 4px;
    margin-top: 4px;
    width: 0;
  }
}
