@import url("./css/normalize.css");
@import url("./css/helpers.css");

html {
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.empty {
  position: absolute;
}

body {
  color: #fff;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

textarea {
  outline: none;
}