@keyframes showUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

@keyframes rotateIn {
  0% { transform: rotate3d(0, 1, 0, -90deg); }
  100% { transform: rotate3d(0, 1, 0, 0deg); }
}

@keyframes rotateOut {
  0% { transform: rotate3d(0, 1, 0, 0deg); }
  100% { transform: rotate3d(0, 1, 0, 90deg); }
}

.slideInLeft {
  animation: slideInLeft $time-slide forwards;
}
.slideInRight {
  animation: slideInRight $time-slide forwards;
}
.slideOutLeft {
  animation: slideOutLeft $time-slide forwards;
}
.slideOutRight {
  animation: slideOutRight $time-slide forwards;
}

//!
.showRight {
  animation: showRight $time-slide forwards;
}
.hideLeft {
  animation: hideLeft $time-slide forwards;
}
//!



@keyframes showFromRight {
  0% { transform: translateX(120%); }
  100% { transform: translateX(0); }
}

@keyframes hideToLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-120%); }
}

@keyframes showFromLeft {
  0% { transform: translateX(-120%); }
  100% { transform: translateX(0); }
}

@keyframes hideToRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(120%); }
}

.showFromRight {
  animation: showFromRight $time-slide forwards;
}
.hideToLeft {
  animation: hideToLeft $time-slide forwards;
}
.showFromLeft {
  animation: showFromLeft $time-slide forwards;
}
.hideToRight {
  animation: hideToRight $time-slide forwards;
}