@keyframes slideOutLeft {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%);}
}

@keyframes slideOutRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%);}
}

@keyframes slideInLeft {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0);}
}

@keyframes slideInRight {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0);}
}

@keyframes showUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}

.slideInLeft {
  animation: slideInLeft $time-slide forwards;
}
.slideInRight {
  animation: slideInRight $time-slide forwards;
}
.slideOutLeft {
  animation: slideOutLeft $time-slide forwards;
}
.slideOutRight {
  animation: slideOutRight $time-slide forwards;
}