@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0;
}

@mixin card {
  background-color: $color-cyan;
  border-radius: $radius-card;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}