@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  outline: none;
  padding: 0;
}