html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: $color-cyan;
  color: #fff;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 17px;
  font-weight: medium;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
  padding: 0;
}

.slideInLeft {
  animation: slideInLeft $time-slide forwards;
}
.slideInRight {
  animation: slideInRight $time-slide forwards;
}
.slideOutLeft {
  animation: slideOutLeft $time-slide forwards;
}
.slideOutRight {
  animation: slideOutRight $time-slide forwards;
}