// TIME
$time-slide: 0.5s;
$time-display: 0.5s;
$hover-icon: 0.3s;
$focus-input: 0.2s;
$fade-stopTask: 0.3s;
$time-alert: 0.3s;
// COLORS
$color-cyan: #B4CECF;
$color-cyan-dark: rgb(116, 135, 136);
$color-tomato: #C36565;
$color-disabled: #ddd;
// MEDIA
$media-sm: 480px;
$media-md: 768px;
$media-lg: 1200px;
// LAYOUT
$layout-padding: 1em;
$layout-max-width: 1200px;
// SIZE
$size-controls-xs: 50px;
$size-controls-md: 70px;
$radius-card: 10px;