// TIME
$time-slide: 0.5s;
$time-display: 0.5s;
$hover-icon: 0.3s;
$focus-input: 0.2s;
$fade-stopTask: 0.3s;
$time-alert: 0.3s;
$card-rotation: 0.5s;
$hover-card: 0.4s;
$card-edit: 0.4s;
$toggle-button: 0.5s;
$new-task-button: 0.5s;
// COLORS
$color-white: #e1edea;
$color-black: rgb(31, 36, 37);
$color-primary: #769599;
$color-light-background: #50787c;
$color-background: #305b60;

//$color-work: #71b4c0;
$color-work: #629a9c;
//$color-break: #4f948b;
$color-break: rgb(126, 177, 85);
$color-success: rgb(126, 177, 85);
$color-fail: rgb(182, 161, 94);

$color-warning: #96343c;
$color-disabled: #ddd;
$card-shadow: 0 3px 8px rgba($color: $color-black, $alpha: 0.6);
$card-border: 5px solid $color-background;
// MEDIA
$media-sm: 480px;
$media-md: 768px;
$media-lg: 1200px;
// LAYOUT
$layout-padding: 10px;
$card-padding: 20px;
$layout-max-width: 1200px;
// SIZE
$size-controls-xs: 50px;
$size-controls-md: 70px;
$radius-card: 10px;
$close-button: 35px;
$nav-button: 70px;
$progressBar-height: 16px;
// LOGO ANIMATION
$logo-size: 600px;
$intro-time: 8s;