@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.App {
  @include flex-center;
  background-color: $color-background;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  color: $color-background;

  &__board {
    align-content: start;
    align-items: stretch;
    background-color: $color-background;
    display: none;
    gap: $board-padding-xs;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    height: 100%;
    min-height: 100vh;
    //overflow: hidden;
    padding: $board-padding-xs;
    width: 100%;

    &--visible {
      display: grid;
    }

    /* & > * {
      perspective: 800px;
    } */
  }

  &__card {
    align-self: start;
    perspective: 800px;
    z-index: 0;

    &::after {
      border: 5px solid $color-primary;
      border-radius: $radius-card;
      bottom: 0;
      content: "";
      left: 0;
      pointer-events: none;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__creator {
    position: relative;
    width: 100%;

    &--maximized {
      min-height: $card-min-height;
    }
  }

  &__newTaskButton {
    @include button;
    @include flex-center;
    border: 5px solid $color-primary;
    border-radius: $radius-card;
    color: $color-primary;
    font-size: 1.5em;
    font-weight: 600;
    height: 100%;
    opacity: 0;
    padding: 10px;
    transition: opacity $new-task-button, visibility 0s $new-task-button;
    visibility: hidden;
    width: 100%;

    &--visible {
      opacity: 1;
      transition:
        background-color $hover-icon,
        box-shadow $hover-icon,
        color $hover-icon,
        opacity $new-task-button,
        visibility 0s;
      visibility: visible;
    }

    &:hover {
      background-color: $color-primary;
      box-shadow: $card-shadow-md;
      color: $color-background;
    }
  }

  @media only screen and (min-width: $media-md) {

    & {
      
      &__board {
        gap: 3em;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        padding: 4em;

        /* &--maximized {
          grid-auto-rows: 540px;
        } */

        &__newTaskButton {
          font-size: 2.5em;
        }
      }
    }
  }
}