@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.App {
  @include flex-center;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  color: $color-background;

  &__board {
    align-items: stretch;
    background-color: $color-background;
    display: grid;
    gap: 3em;
    grid-auto-rows: 540px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    height: 100%;
    min-height: 100vh;
    padding: 4em;
    width: 100%;
  }

  &__creator {
    border-radius: $radius-card;
    box-shadow: $card-shadow;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  &__newTaskButton {
    @include button;
    @include flex-center;
    border: 4px solid $color-primary;
    border-radius: $radius-card;
    color: $color-primary;
    font-size: 2.5em;
    font-weight: 600;
    height: 100%;
    padding: 10px;
    width: 100%;

    &:hover {
      background-color: $color-primary;
      box-shadow: $card-shadow;
      color: $color-background;
    }
  }

  @media only screen and (min-width: $media-md) {

    & {
      
      &__board {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      }
    }
  }
}