@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Board {
  align-content: start;
  align-items: stretch;
  display: grid;
  gap: $board-padding-xs;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  padding: $board-padding-xs;
  position: relative;
  width: 100%;
  z-index: 1;

  &::after {
    background-color: $color-teal-dark-3;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: opacity $sidebar-toggle, visibility 0s $sidebar-toggle;
    visibility: hidden;
    width: 100%;
    z-index: 1;
  }

  &--sidebarMode {

    &::after {
      opacity: 0.6;
      transition: opacity $sidebar-toggle, visibility;
      visibility: visible;
    }
  }

  @media only screen and (min-width: $media-md) {
      
    gap: 3em;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 4em;

    /* &--maximized {
      grid-auto-rows: 540px;
    } */
  }

  // #region [ Horizon ] HEADER

  &__header {
    align-items: center;
    background-color: $color-teal-dark-3;
    display: flex;
    justify-content: space-between;
    right: 0;
    padding: $header-padding-xs;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
  
    @media only screen and (min-width: $media-md) {
      background: none;
      padding: $header-padding-md;
      width: $sidebar-width-md;
    }
  }

  &__logo {
    color: $color-teal;
    font-size: 2.5em;
    font-weight: 700;
    margin: 0;
    line-height: 0;
    user-select: none;
  
    &--color {
      color: $color-teal-dark-2;
    }
  
    @media only screen and (min-width: $media-md) {

      & {
        font-size: 3.5em;
        transform: translateX($sidebar-width-md);
        transition: transform $sidebar-toggle;

        &--visible {
          transform: translateX(0);
        }
      }
    }
  }

  &__burger {
    @include button;
    fill: $color-teal-light-2;
    min-width: 30px;
    height: $burger-size-xs;
    width: $burger-size-xs;
    z-index: 3;
  
    &:hover {
      fill: $color-teal-light-3;
    }
  
    @media only screen and (min-width: $media-md) {
      height: $burger-size-md;
      width: $burger-size-md;
    }
  
    @media only screen and (min-width: $media-lg) {
      height: $burger-size-lg;
      width: $burger-size-lg;
    }
  }

  &__burgerSvg {
    width: 100%;
  }

  // #endregion

  &__creator {
    position: relative;
    width: 100%;

    &--maximized {
      min-height: $card-min-height;
    }
  }

  &__newTaskButton {
    @include button;
    @include flex-center;
    background-color: $color-teal-dark-2;
    border-radius: $radius-card;
    box-shadow: $placeholder-shadow-medium;
    color: $color-teal;
    font-size: 1.5em;
    font-weight: 600;
    height: 100%;
    opacity: 0;
    padding: 20px;
    transition: opacity $new-task-button, visibility 0s $new-task-button;
    visibility: hidden;
    width: 100%;
    z-index: -1;

    &--visible {
      opacity: 1;
      transition:
        background-color $hover-icon,
        box-shadow $hover-icon,
        color $hover-icon,
        opacity $new-task-button,
        visibility 0s;
      visibility: visible;
    }

    &:hover {
      background-color: $color-teal-dark-1;
      box-shadow: $placeholder-shadow-small;
      color: $color-teal-light-1;
    }

    @media only screen and (min-width: $media-md) {

      font-size: 2.5em;
    }
  }
}