@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Card {
  align-self: start;
  perspective: 800px;
  z-index: 0;

  border: 1px solid #000;

  &--top {
    z-index: 1;
  }

  &::after {
    border: 5px solid $color-primary;
    border-radius: $radius-card;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }

  &__draggable {
    position: relative;
    transition: transform 0.5s;
    perspective: 800px;
    width: 100%;
    //height: 100%;
    z-index: 1;
  
    &--hovered {
      opacity: 0.6;
      pointer-events: none;
    }
    
    &--dragging {
      cursor: move;
      z-index: 2;
      pointer-events: none;
    }

    &--noTransition {
      transition: transform 0s;
    }
  }
}