@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.CardButtons {
  column-gap: 10px;
  display: none;
  grid-area: buttons;
  grid-template-columns: repeat(4, auto);
  justify-self: end;

  &--maximized {
    display: grid;
  }

  &__button {
    @include button;
    @include flex-center;
    fill: none;
    stroke: $color-teal-dark-2;
    stroke-width: 8;
    stroke-linejoin: round;
    stroke-linecap: round;
    transition:
      stroke $time-button,
      opacity $card-edit,
      visibility 0s $card-edit;
    visibility: hidden;
    width: $close-button;
    
    &:active {
      stroke: $color-teal-light-3;
    }
  
    &--accept {
      opacity: 0;
      stroke: $color-teal-light-2;
    }
    
    &--disabled {
      @include disabled;
    }
    
    &--visible {
      opacity: 1;
      transition:
        stroke $time-button,
        opacity $card-edit,
        visibility 0s;
      visibility: visible;
    }

    @media only screen and (min-width: $media-md) {
    
      &:focus,
      &:hover {
        stroke: $color-teal-light-3;
      }
    }
  }

  &__svg {
    width: 100%;
  }
}