@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Card {
  align-self: start;
  perspective: 800px;
  transition: transform 0.3s;
  width: 100%;
  z-index: 1;

  &--dragged {
    pointer-events: none;
    z-index: 2;
  }

  &--hovered {
    opacity: 0.6;
  }

  &--noTransition {
    transition: none;
  }
}

.Task {
  align-items: start;
  background-color: $color-teal;
  border: $card-border;
  border-radius: $radius-card;
  box-shadow: $card-shadow-small;
  cursor: move;
  display: grid;
  grid-template-areas:
    "buttons  "
    "taskName ";
  justify-items: center;
  min-height: 50px;
  overflow: hidden;
  padding: $card-padding;
  position: relative;
  transition: background-color $card-edit, min-height $card-edit;
  user-select: none;
  visibility: hidden;

  &--maximized {
    cursor: initial;
    gap: 10px;
    grid-template-areas:
      "buttons  "
      "taskName "
      "taskTime "
      "breakTime"
      "startBtn ";
    grid-template-rows: auto 1fr repeat(3, auto);
    height: 100%;
    min-height: $card-min-height;
    transition: background-color $card-edit;
  }

  &--visible {
    visibility: visible;
  }

  &--rotateIn {
    animation: rotateIn ease-out forwards;
  }

  &--rotateOut {
    animation: rotateOut ease-in forwards;
  }

  &--editMode {
    background-color: $color-teal-dark-1;
    border-color: transparent;
  }

  &--taskActive {
    border-color: $color-teal-accent;
  }

  &__startButton {
    @include button;
    align-items: center;
    border-radius: 50%;
    display: none;
    fill: none;
    grid-area: startBtn;
    height: $main-button;
    justify-content: center;
    margin: 10px;
    padding: 2px;
    stroke: $color-teal-dark-2;
    stroke-width: 3;
    transition: background-color $time-button, stroke $time-button;
    width: 80px;

    &:active {
      background-color: $color-teal-accent;
      stroke: $color-teal;
    }

    &--maximized {
      display: flex;
    }

    &--disabled {
      @include disabled;
    }
  }

  &__svg {
    width: 100%;
  }

  @media only screen and (min-width: $media-md) {
    & {
      box-shadow: $card-shadow-medium;
      padding: $card-padding;

      &__startButton {
        &:focus,
        &:hover {
          background-color: $color-teal-accent;
          stroke: $color-teal;
        }
      }
    }
  }
}
