@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Card {
  align-self: start;
  perspective: 800px;
  transition: transform 0.5s;
  width: 100%;
  z-index: 0;

  &--dragged {
    cursor: move;
    pointer-events: none;
    z-index: 2;
  }
  
  &--hovered {
    opacity: 0.6;
    //pointer-events: none;
  }

  &--noTransition {
    transition: none;
  }

  &::after {
    border: 5px solid $color-primary;
    border-radius: $radius-card;
    bottom: 0;
    content: "";
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
  }
}