@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Controls {
  display: grid;
  gap: 20px;
  grid-area: control;
  grid-template-columns: repeat(3, 1fr);

  &__button {
    @include button;
    border: 2px solid #fff;
    border-radius: 50%;
    fill: none;
    height: $size-controls-xs;
    stroke: #fff;
    stroke-width: 15;
    width: $size-controls-xs;
  }

  &__svg {
    pointer-events: none;
    width: 100%;

    &--hidden {
      display: none;
    }
  }

  @media only screen and (min-width: $media-md) {

    & {
      
      &__button {
        height: $size-controls-md;
        width: $size-controls-md;
      }
    }
  }
}