@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Controls {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, auto);
  grid-area: controls;
  justify-content: center;
  padding: 20px $card-padding;

  &__button {
    @include button;
    @include flex-center;
    border-radius: 50%;
    fill: none;
    height: $size-controls;
    padding: 2px;
    stroke: $color-teal-light-1;
    stroke-width: 3;
    transition:
      background-color $hover-icon,
      border-color $hover-icon,
      opacity $card-edit,
      stroke $hover-icon;
    width: $size-controls;

    @mixin controlButtons {
      background-color: $color-teal;
      border-color: $color-teal-warning;
      stroke: $color-teal-dark-2;
    }

    &:active {
      @include controlButtons;
    }
    
    &--disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    @media only screen and (min-width: $media-md) {
  
      & {
        &:focus,
        &:hover {
          @include controlButtons;
        }
      }
    }
  }

  &__svg {
    width: 100%;

    &--hidden {
      display: none;
    }
  }
}