@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Countdown {
  color: $color-tomato;
  font-family: 'Inconsolata';
  font-size: 3em;
  font-weight: bold;
  grid-area: display;
  height: 100%;
  position: relative;
  width: 100%;

  &--taskTime {
    grid-area: taskTime;
  }
  
  &--breakTime {
    grid-area: breakTime;
  }

  &--inactive {
    color: #fff;
  }
}