@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Countdown {
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: grid;
  font-family: 'Inconsolata';
  font-size: 1.5em;
  font-weight: bold;
  gap: 20px;
  grid-template-rows: 1fr auto auto auto;
  height: 100%;
  justify-items: center;
  width: 100%;
  visibility: hidden;

  &--visible {
    visibility: visible;
  }

  &--taskTime {
    grid-template-areas:
      "display "
      "heading "
      "progress"
      "controls";
  }
  
  &--breakTime {
    grid-template-areas:
      "display "
      "heading "
      "progress"
      "controls";
  }

  &__heading {
    grid-area: heading;
  }
}