@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.CreatorInput {
  display: grid;
  grid-area: input;
  grid-template-areas:
    "label"
    "input"
    ".    ";
  grid-template-rows: 1fr 2fr 1fr;
  height: 100%;
  transform: translate(0);
  transition: transform $time-slide, visibility 0s $time-slide;
  user-select: none;
  visibility: hidden;
  width: 100%;

  &--taskName {
    transition: transform $time-slide, visibility 0s;
    visibility: visible;
  }

  &--taskTime,
  &--breakTime {
    transition: transform $time-slide, visibility 0s;
    visibility: visible;
  }

  &__label {
    color: $color-teal-light-2;
    font-size: 2rem;
    grid-area: label;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  &__textContainer {
    display: flex;
    flex-direction: column;
    grid-area: input;
  }

  &__text,
  &__input {
    background: none;
    border: $card-border;
    border-color: $color-teal-light-2;
    color: $color-teal-light-3;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 15px;
    width: 100%;
    transition: background-color $time-button, border-color $time-button;

    &::placeholder {
      color: $color-teal-light-1;
      opacity: 1;
    }

    &:focus {
      background-color: $color-teal-dark-1;
      border-color: $color-teal-light-2;

      &::placeholder {
        color: $color-teal;
      }
    }

    &--invalid {
      background-color: $color-teal-accent;
      border-color: $color-teal-dark-2;

      &:focus {
        background-color: $color-teal-accent;
        border-color: $color-teal-dark-2;
      }
    }
  }

  &__text {
    border-radius: 10px;
    height: 100%;
    resize: none;
  }

  &__inputs {
    align-self: center;
    align-items: center;
    border: $card-border;
    border-color: $color-teal-light-2;
    border-radius: 10px;
    display: flex;
    font-size: 2.5rem;
    grid-area: input;
    justify-content: space-between;
    overflow: hidden;
    width: 100%;

    &--invalid {
      background-color: $color-teal-accent;
      border-color: $color-teal-dark-2;

      &:focus {
        background-color: $color-teal-accent;
        border-color: $color-teal-dark-2;
      }
    }
  }

  &__input {
    border: none;
    font-size: 2.5rem;
    font-weight: bold;
    outline: none;
    text-align: center;
    width: 45%;

    &::placeholder {
      font-size: 1.5rem;
    }
  }

  &__progress {
    background-color: $color-teal-accent;
    height: 4px;
    margin-top: 4px;
    width: 0;
  }
}