@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Creator {
  background-color: $color-teal;
  border: $card-border;
  border-radius: $radius-card;
  box-shadow: $card-shadow-medium;
  display: grid;
  grid-template-areas:
    ".        closeBtn"
    "input    input   "
    "backBtn  nextBtn ";
  grid-template-rows: $main-button 1fr $main-button;
  height: 100%;
  left: 0;
  overflow: hidden;
  padding: $card-padding;
  padding-bottom: $card-padding + $progressBar-height;
  position: absolute;
  top: 0;
  width: 100%;

  &--rotateOut {
    animation: rotateOut ease-in forwards;
  }

  &__button {
    @include button;
    @include flex-center;
    align-self: start;
    fill: none;
    opacity: 0;
    stroke: $color-teal-dark-1;
    stroke-linecap: round;
    stroke-width: 20;
    transition:
      stroke $time-button,
      opacity $time-button,
      visibility 0s $time-button;
    visibility: hidden;
    width: $main-button;

    &--back {
      grid-area: backBtn;
      justify-self: start;
    }
    
    &--next {
      grid-area: nextBtn;
      justify-self: end;
    }

    &--close {
      grid-area: closeBtn;
      justify-self: end;
      stroke-width: 8;
      width: $close-button;
    }

    &--visible {
      opacity: 1;
      transition:
        stroke $time-button,
        opacity $time-button,
        visibility;
      visibility: inherit;
    }

    &:active {
      stroke: $color-teal-light-3;
    }

    @media only screen and (min-width: $media-md) {
  
      & {
        &:focus,
        &:hover {
          stroke: $color-teal-light-3;
        }
      }
    }
  }

  &__svg {
    width: 100%;
  }
}

.progressBar {
  background-color: $color-teal;
  bottom: 0;
  left: 0;
  height: $progressBar-height;
  position: absolute;
  width: 100%;

  &__loaded {
    background-color: $color-teal-accent;
    bottom: 0;
    left: 0;
    position: absolute;
    top: 0;
    width: 0;
    transition: width 0.5s;
  }
}