@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.CreatorInput {
  display: grid;
  grid-area: input;
  grid-template-areas:
    "label"
    "input"
    ".    ";
  grid-template-rows: 1fr 2fr 1fr;
  height: 100%;
  transform: translate(0);
  transition: transform $time-slide, visibility 0s $time-slide;
  user-select: none;
  visibility: hidden;
  width: 100%;

  &--taskName {
    transition: transform $time-slide, visibility 0s;
    visibility: visible;
  }

  &--taskTime,
  &--breakTime {
    transition: transform $time-slide, visibility 0s;
    visibility: visible;
  }

  &__label {
    color: $color-white;
    font-size: 2em;
    font-weight: 600;
    grid-area: label;
    margin: 0;
    text-align: center;
    width: 100%;
  }

  &__textContainer {
    display: flex;
    flex-direction: column;
    grid-area: input;
  }

  &__text,
  &__input {
    background: none;
    border: 3px solid $color-background;
    color: $color-white;
    font-size: 1.2em;
    padding: 15px;
    width: 100%;

    &::placeholder {
      color: $color-background;
      opacity: 1;
    }

    &:focus {
      background-color: $color-background;
      border-color: $color-white;

      &::placeholder {
        color: $color-primary;
      }
    }

    &--invalid {
      background-color: $color-warning;
      border-color: $color-warning;

      &:focus {
        background-color: $color-warning;
        border-color: $color-warning;
      }
    }
  }

  &__text {
    resize: none;
    height: 100%;
  }

  &__inputs {
    align-self: center;
    align-items: center;
    border: 3px solid $color-background;
    display: flex;
    font-size: 1.5em;
    grid-area: input;
    justify-content: space-between;
    width: 100%;

    &--invalid {
      background-color: $color-warning;
      border-color: $color-warning;

      &:focus {
        background-color: $color-warning;
        border-color: $color-warning;
      }
    }
  }

  &__input {
    border: none;
    text-align: center;
    width: 45%;
  }

  &__colon {
    font-weight: bold;
  }

  &__progress {
    background-color: $color-warning;
    height: 4px;
    margin-top: 4px;
    width: 0;
  }
}