@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.taskName,
.totalTaskTime,
.totalBreakTime {
  grid-area: taskName;
  height: 100%;
  position: relative;
  text-align: center;
  width: 100%;

  &__text {
    font-weight: 600;
    font-size: 1.2em;
    margin: 0;
    visibility: hidden;
    width: 100%;

    &--visible {
      visibility: visible;
    }
  }

  &__input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: $color-cyan-dark;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: 600;
    font-size: 1.2em;
    min-width: 10px;
    resize: none;
    text-align: center;
    visibility: hidden;
    width: 100%;

    &--visible {
      visibility: visible;
    }
  }

  &__button {
    @include button;
    padding: 0.7em;
  }
}

.totalTaskTime {
  grid-area: taskTime;
}

.totalBreakTime {
  grid-area: breakTime;
}