@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Finish {
  align-items: center;
  background-color: rgb(126, 177, 85);
  display: grid;
  grid-template-areas:
    "remove "
    "heading"
    "message"
    "restart";
  justify-items: center;
  bottom: 0;
  left: 0;
  padding: $layout-padding;
  position: absolute;
  right: 0;
  top: 0;
  //transition: visibility 0s $time-slide;
  visibility: hidden;

  &--visible {
    //transition: visibility 0s;
    visibility: visible;
  }

  &--task {

  }

  &--break {
    background-color: rgb(207, 182, 127);
  }

  &__heading {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0.8em 0;
    grid-area: heading;
  }

  &__emoji {
    font-size: 2em;
  }

  &__message {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    grid-area: message;
  }

  &__accent {
    color: $color-warning;
    font-weight: 800;
  }
  
  &__button {
    @include button;
    fill: #fff;
    transition: $hover-icon;
    width: $size-controls-xs;

    &:hover {
      fill: $color-warning;
    }

    &--restart {
      grid-area: restart;
    }
   
    &--remove {
      align-self: start;
      justify-self: end;
      grid-area: remove;
      width: $close-button;
    }
  }

  &__svg {
    width: 100%;
  }

  @media only screen and (min-width: $media-md) {
    & {}
  }
}