@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Finish {
  align-items: center;
  animation: showToBottom $time-slide forwards;
  bottom: 0;
  display: grid;
  grid-template-areas:
    "remove "
    "heading"
    "message"
    "restart";
  grid-template-rows: auto auto 1fr auto;
  justify-items: center;
  left: 0;
  padding: $card-padding;
  position: absolute;
  right: 0;
  top: 0;

  &--success {
    background-color: $color-teal-dark-3;
  }

  &--failure {
    background-color: $color-teal-dark-3;
  }

  &__heading {
    color: $color-teal-accent;
    font-size: 2em;
    font-weight: 600;
    grid-area: heading;
    margin: 1em 0;
  }

  &__message {
    color: $color-teal-light-1;
    font-size: 1.3em;
    line-height: 1.4;
    text-align: center;
    grid-area: message;
    margin: 0;
  }

  &__accent {
    color: $color-teal-accent;
    font-weight: 800;
  }
  
  &__button {
    @include flex-center;
    @include button;
    fill: none;
    stroke: $color-teal-dark-2;

    &--restart {
      border-radius: 50%;
      grid-area: restart;
      margin: 10px;
      padding: 2px;
      stroke-width: 3;
      transition:
        background-color $time-button,
        stroke $time-button;
      width: $main-button;
      
      &:active {
        background-color: $color-teal;
        stroke: $color-teal-dark-3;
      }
    }
   
    &--remove {
      align-self: start;
      justify-self: end;
      grid-area: remove;
      stroke-width: 8;
      width: $close-button;
      transition: stroke $time-button;

      &:active {
        stroke: $color-teal-light-3;
      }
    }

    @media only screen and (min-width: $media-md) {
  
      & {

        &--restart {
          &:focus,
          &:hover {
            background-color: $color-teal;
            stroke: $color-teal-dark-3;
          }
        }
       
        &--remove {
          &:focus,
          &:hover {
            stroke: $color-teal-light-3;
          }
        }
      }
    }
  }

  &__svg {
    width: 100%;
  }
}