@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Finish {
  @include flex-center;
  flex-direction: column;
  background-color: rgb(126, 177, 85);
  bottom: 0;
  left: 0;
  padding: $layout-padding;
  position: absolute;
  right: 0;
  top: 0;
  //transition: visibility 0s $time-slide;
  visibility: hidden;

  &--visible {
    //transition: visibility 0s;
    visibility: visible;
  }

  &__heading {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0.8em 0;
  }

  &__emoji {
    font-size: 2em;
  }

  &__message {
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
  }

  &__accent {
    color: $color-tomato;
    font-weight: 800;
  }
  
  &__retry {
    @include button;
    fill: #fff;
    transition: $hover-icon;
    width: $size-controls-xs;

    &:hover {
      fill: $color-tomato;
    }
  }

  &__svg {
    width: 100%;
  }

  @media only screen and (min-width: $media-md) {
    & {}
  }
}