@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Intro {
  @include flex-center;
  background-color: $color-background;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.logo {
  height: $logo-size;
  width: $logo-size;

  &__background {
    fill: $color-primary;
  }

  &__letter {
    fill: $color-warning;
  }

  &__shadow {
    animation: clockShadow $intro-time ease-out;
    fill: rgba($color: #000, $alpha: 0.7);
  }

  &__clockHand {
    animation: clockHand $intro-time;
    transform: rotate(180deg);
    transform-origin: center;
  }

  &__foreground {
    fill: $color-background;
  }
}