@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.LoginBox {
  @include flex-center;
  bottom: 0;
  flex-direction: column;
  left: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;

  &__logo {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;

    &--color {
      color: $color-teal-dark-3;
    }

    @media only screen and (min-width: $media-md) {
      font-size: 80px;
    }
  }

  &__container {
    position: relative;
    perspective: 800px;
  }
}

// #region [ Horizon ] Sign In / Sign Up

.signIn,
.signUp {
  align-items: center;
  background-color: $color-teal;
  box-shadow: $card-shadow-medium;
  border-radius: 10px;
  display: grid;
  gap: 0.5em;
  grid-template-areas:
  "heading       heading      "
  "loginLabel    loginLabel   "
  "loginInput    loginInput   "
  "passwordLabel passwordLabel"
  "passwordInput passwordInput"
  "logInButton   signUpButton ";
  padding: 30px;
  transform: rotate3d(0, 1, 0, -90deg);
  visibility: hidden;

  &--rotateIn {
    visibility: visible;
    animation: rotateIn $toggle-card $toggle-card ease-out forwards;
  }

  &--rotateOut {
    animation: rotateOut $toggle-card ease-in forwards;
    transition: visibility 0s $toggle-card;
  }

  @media only screen and (min-width: $media-md) {
    gap: 1em;
    grid-template-areas:
    "heading       heading       heading       heading"
    "loginLabel    loginInput    loginInput    .      "
    "passwordLabel passwordInput passwordInput .      "
    ".             logInButton   signUpButton  .      ";
    grid-template-columns: repeat(4, 1fr);
  }

  &__heading {
    font-size: 1.5em;
    grid-area: heading;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  &__label {
    justify-self: start;
    font-size: 1.2em;
    font-weight: 700;

    &--login {
      grid-area: loginLabel;
    }

    &--password {
      grid-area: passwordLabel;
    }

    @media only screen and (min-width: $media-md) {

      justify-self: end;
    }
  }

  &__input {
    background-color: $color-teal-dark-1;
    border: none;
    box-shadow: $placeholder-shadow-small;
    border-radius: 5px;
    color: $color-teal-light-3;
    font-size: 1.4em;
    font-weight: 400;
    min-width: 100px;
    outline: none;
    padding: 0.5em;
    width: 100%;

    &--login {
      grid-area: loginInput;
    }

    &--password {
      grid-area: passwordInput;
    }

    &:focus {
      background-color: $color-teal-dark-2;
      box-shadow: $placeholder-shadow-medium;
    }
  }

  &__button {
    @include button;
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: 700;
    margin-top: 30px;
    padding: 0.6em;

    &--logIn {
      grid-area: logInButton;
    }

    &--signUp {
      grid-area: signUpButton;
    }

    @media only screen and (min-width: $media-md) {

      & {
        margin-top: 10px;
      }
    }
  }
}

// #endregion

.signIn {
  background-color: $color-teal;

  &__heading {
    color: $color-teal-dark-2;
  }

  &__label {
    color: $color-teal-dark-1;
  }

  &__button {
    background-color: $color-teal-dark-2;
    color: $color-teal-light-1;

    @mixin buttonActive {
      background-color: $color-teal-dark-3;
      color: $color-teal-light-2;
    }

    &:active {
      @include buttonActive;
    }

    @media only screen and (min-width: $media-md) {

      &:focus,
      &:hover {
        @include buttonActive;
      }
    }
  }
}

.signUp {
  background-color: $color-teal-dark-2;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &__heading {
    color: $color-teal-light-2;
  }

  &__label {
    color: $color-teal;
  }

  &__button {
    background-color: $color-teal-dark-1;
    color: $color-teal-light-2;

    @mixin buttonActive {
      background-color: $color-teal;
      color: $color-teal-light-3;
    }

    &:active {
      @include buttonActive;
    }

    @media only screen and (min-width: $media-md) {

      &:focus,
      &:hover {
        @include buttonActive;
      }
    }
  }
}