@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Percentage {
  @include flex-center;
  color: $color-tomato;
  font-family: 'Inconsolata';
  font-weight: 600;
  left: 50%;
  margin: 0;
  position: absolute;
  top: -1.2em;
  transform: translateX(-50%);
  transition: visibility 0s;
  visibility: hidden;

  &--visible {
    visibility: inherit;
  }
}