@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Progress {
  @include flex-center;
  flex-direction: column;
  visibility: hidden;
  width: 100%;
  height: 100%;
  
  &--breakTime {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &--visible {
    visibility: inherit;
  }

  &__header {
    position: relative;
    height: 1.2em;
    width: 100%;
  }

  &__percent {
    @include flex-center;
    font-weight: 600;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: visibility 0s;
    visibility: hidden;
  
    &--visible {
      visibility: inherit;
    }

    &--taskTime {
      color: $color-teal-light-2;
    }
    
    &--breakTime {
      color: $color-teal-accent;
    }
  }
  
  &__bar {
    height: $progressBar-height;
    position: relative;
    width: 100%;
  }
  
  &__part {
    bottom: 0;
    position: absolute;
    top: 0;

    &--loading {
      left: 0;
      width: 0;
    }

    &--unloading {
      right: 0;
      width: 100%;
    }

    &--loading.Progress__part--taskTime { background-color: $color-teal-light-2; };
    &--unloading.Progress__part--taskTime { background-color: $color-teal-dark-2; };
    &--loading.Progress__part--breakTime { background-color: $color-teal-accent; };
    &--unloading.Progress__part--breakTime { background-color: $color-teal-dark-3; };
  }
}