@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Progress {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 0.7em;
  grid-area: progress;
  justify-content: center;
  width: 100%;

  &__header {
    position: relative;
    width: 100%;
  }

  &__percent {
    @include flex-center;
    color: $color-tomato;
    font-family: 'Inconsolata';
    font-weight: 600;
    left: 50%;
    margin: 0;
    position: absolute;
    top: -1.2em;
    transform: translateX(-50%);
    transition: visibility 0s;
    visibility: hidden;
  
    &--visible {
      visibility: inherit;
    }
  }
  
  &__bar {
    height: 6px;
    position: relative;
    width: 100%;
  }
  
  &__part {
    bottom: 0;
    position: absolute;
    top: 0;

    &--loading {
      background-color: $color-tomato;
      left: 0;
      width: 0;
    }

    &--unloading {
      background-color: #fff;
      right: 0;
      width: 100%;
    }
  }
}