@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Progress {
  @include flex-center;
  flex-direction: column;
  visibility: hidden;
  width: 100%;
  height: 100%;

  &--taskTime {
    
  }
  
  &--breakTime {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &--visible {
    visibility: visible;
  }

  &__header {
    position: relative;
    height: 1.2em;
    width: 100%;
  }

  &__percent {
    @include flex-center;
    color: $color-warning;
    font-family: 'Inconsolata';
    font-weight: 600;
    left: 50%;
    margin: 0;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    transition: visibility 0s;
    visibility: hidden;
  
    &--visible {
      visibility: inherit;
    }
  }
  
  &__bar {
    height: $progressBar-height;
    position: relative;
    width: 100%;
  }
  
  &__part {
    bottom: 0;
    position: absolute;
    top: 0;

    &--loading {
      background-color: $color-warning;
      left: 0;
      width: 0;
    }

    &--unloading {
      background-color: $color-white;
      right: 0;
      width: 100%;
    }
  }
}