@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Sidebar {
  background-color: $color-teal-dark-3;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  transform: translateX(100%);
  transition: transform $toggle-sidebar, visibility 0s $toggle-sidebar;
  width: 100%;
  z-index: 1;

  &--visible {
    visibility: visible;
    transform: translateX(0);
    transition: transform $toggle-sidebar, visibility 0s;
  }

  @media only screen and (min-width: $media-md) {

    & {
      width: 300px;
    }
  }
}