@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Sidebar {
  align-items: center;
  background-color: $color-teal-dark-3;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $header-padding-xs;
  padding-top: $header-padding-xs * 2 + $burger-size-xs;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  transform: translate(0, -100%);
  transition: transform $sidebar-toggle, visibility 0s $sidebar-toggle;
  width: $sidebar-width-xs;
  z-index: 2;

  &--visible {
    visibility: visible;
    transform: translate(0, 0);
    transition: transform $sidebar-toggle, visibility 0s;
  }

  @media only screen and (min-width: $media-md) {

    & {
      padding: $header-padding-md;
      padding-top: $header-padding-md * 2 + $burger-size-md;
      transform: translate(100%, 0);
      width: $sidebar-width-md;

      &--visible {
        transform: translate(0, 0);
      }
    }
  }

  &__userLogin {
    font-size: 3em;
    margin: 0;
    margin: 50px 0;
    user-select: none;
  }

  &__buttons {
    column-gap: 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: $sidebar-content-width-xs;
    margin-top: 20px;

    @media only screen and (min-width: $media-md) {
      max-width: $sidebar-content-width-md;
    }
  }

  &__section {
    align-items: center;
    border-top: 2px solid $color-teal-dark-1;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    max-width: $sidebar-content-width-xs;
    width: 100%;

    @media only screen and (min-width: $media-md) {
      max-width: $sidebar-content-width-md;
    }
  }

  &__heading {
    color: $color-teal-light-1;
    font-size: 1.5em;
    margin: 0;
    margin: 0.5em 0;
  }

  &__text {
    color: $color-teal-dark-1;
    font-size: 1.2em;
    margin: 0;
    margin-top: 1em;

  }
}

.userButton {
  @include button;
  @include flex-center;
  border-radius: 50%;
  fill: none;
  padding: 5px;
  stroke: $color-teal-dark-1;
  stroke-width: 3;
  transition: background-color $hover-icon;

  @mixin userButtonActive {
    background-color: rgba($color: #000, $alpha: 0.4);
    stroke: $color-teal;
  }

  &:active {
    @include userButtonActive;
  }

  &__svg {
    width: 100%;
  }

  @media only screen and (min-width: $media-md) {

    &:focus,
    &:hover {
      @include userButtonActive;
    }
  }
}

.stats {
  border-collapse: collapse;
  color: $color-teal-dark-1;
  font-size: 1.1em;
  width: 100%;

  &__row {
    border-bottom: 1px solid $color-teal-dark-2;
  }

  &__cell {
    padding: 10px;

    &--name {
      text-align: left;
    }

    &--value {
      color: $color-teal-light-2;
      text-align: right;
    }
  }

  
}