@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Sidebar {
  align-items: center;
  background-color: $color-teal-dark-3;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: $header-padding-xs;
  padding-top: $header-padding-xs * 2 + $burger-size-xs;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;
  transform: translate(0, -100%);
  transition: transform $sidebar-toggle, visibility 0s $sidebar-toggle;
  width: $sidebar-width-xs;
  z-index: 2;

  &--visible {
    visibility: visible;
    transform: translate(0, 0);
    transition: transform $sidebar-toggle, visibility 0s;
  }

  @media only screen and (min-width: $media-md) {

    & {
      padding: $header-padding-md;
      padding-top: $header-padding-md * 2 + $burger-size-md;
      transform: translate(100%, 0);
      width: $sidebar-width-md;

      &--visible {
        transform: translate(0, 0);
      }
    }
  }

  &__userLogin {
    font-size: 3em;
    margin: 0;
    margin-top: 50px;
    user-select: none;
  }

  &__userPanel {
    column-gap: 4px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 50px;
    max-width: $sidebar-content-width-xs;

    @media only screen and (min-width: $media-md) {
      max-width: $sidebar-content-width-md;
    }
  }
}

.userButton {
  @include button;
  @include flex-center;
  border-radius: 50%;
  fill: none;
  padding: 5px;
  stroke: $color-teal-dark-1;
  stroke-width: 3;
  transition: background-color $hover-icon;

  $buttonActive: rgba($color: #000, $alpha: 0.4);
  &:active {
    background-color: $buttonActive;
  }

  &__svg {
    width: 100%;
  }

  @media only screen and (min-width: $media-md) {

    &:focus,
    &:hover {
      background-color: $buttonActive;
    }
  }
}