@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.StopAlert {
  background-color: none;
  bottom: 0;
  color: $color-teal-light-3;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: background-color $fade-stopTask, visibility 0s $fade-stopTask;
  visibility: hidden;

  &--visible {
    background-color: rgba($color: $color-teal-dark-1, $alpha: 0.8);
    transition: background-color $fade-stopTask, visibility 0s;
    visibility: visible;
  }

  &__container {
    background-color: $color-teal-warning;
    display: grid;
    gap: 1em;
    grid-template-areas:
      "head head"
      "stop exit";
    grid-template-columns: repeat(2, 1fr);
    padding: 2em;
    transform: translateY(-100%);
    transition: transform $fade-stopTask;

    &--visible {
      transform: translateY(0);
    }
  }

  &__heading {
    font-weight: 600;
    grid-area: head;
    margin: 0;
    text-align: center;
  }

  &__button {
    @include button;
    border: 2px solid $color-teal-light-3;
    border-radius: 5px;
    font-weight: 600;
    padding: 0.75em 2em;
    transition: background-color $hover-icon, color $hover-icon;

    &:hover {
      background-color: $color-teal-light-3;
      color: $color-teal-warning;
    }

    &--stop { grid-area: stop; };
    &--cancel { grid-area: exit; };
  }
}