@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.StopTask {
  @include flex-center;
  background-color: rgba($color: #000000, $alpha: 0.4);
  bottom: 0;
  left: 0;
  opacity: 0;
  padding: $layout-padding;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity $fade-stopTask, visibility 0s $fade-stopTask;
  visibility: hidden;

  &--visible {
    opacity: 1;
    transition: opacity $fade-stopTask, visibility 0s;
    visibility: visible;
  }

  &__container {
    background-color: $color-cyan;
    border-radius: 10px;
    display: grid;
    gap: 1em;
    grid-template-areas:
      "head head"
      "stop exit";
    grid-template-columns: repeat(2, 1fr);
    padding: 2em;
  }

  &__heading {
    font-weight: 600;
    grid-area: head;
    margin: 0;
  }

  &__button {
    @include button;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 0.75em 2em;
    transition: background-color $hover-icon, border-color $hover-icon;

    &:hover {
      background-color: $color-tomato;
      border-color: $color-tomato;
    }

    &--stop { grid-area: stop; };
    &--cancel { grid-area: exit; };
  }
}