@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Task {
  @include card;
  align-items: center;
  display: grid;
  grid-template-areas:
    "remove"
    "taskName"
    "taskTime"
    "breakTime"
    "startBtn";
  grid-template-rows: 40px 1fr 1fr 1fr;
  justify-items: center;
  padding: 1em;

  &__button {
    @include button;
    fill: #fff;

    &:hover {
      fill: $color-tomato;
      border-color: $color-tomato;
    }

    &--remove {
      align-self: start;
      grid-area: remove;
      justify-self: end;
      max-width: 40px;
    }

    &--start {
      @include flex-center;
      grid-area: startBtn;
      border: 2px solid #fff;
      border-radius: 50%;
      max-width: 60px;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 1.2em;
    grid-area: taskName;
    margin: 0;
    text-align: center;
  }

  &__totalTime {
    font-family: 'Inconsolata';
    font-size: 2em;
    font-weight: 800;
    margin: 0;

    &--task {
      font-size: 2.5em;
      grid-area: taskTime;
    }

    &--break {
      grid-area: breakTime;
    }
  }
}