@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Task {
  @include card;
  align-items: center;
  display: grid;
  grid-template-areas:
    "buttons"
    "taskName"
    "taskTime"
    "breakTime"
    "startBtn";
  grid-template-rows: 40px 1fr 1fr 1fr;
  justify-items: center;
  padding: 1em;

  &__buttons {
    align-self: start;
    display: grid;
    gap: 20px;
    grid-area: buttons;
    grid-template-columns: auto auto;
    justify-self: end;
  }

  &__button {
    @include button;
    fill: #fff;
    max-width: 40px;

    &--accept {
      visibility: hidden;
    }

    &--start {
      @include flex-center;
      border: 2px solid #fff;
      border-radius: 50%;
      grid-area: startBtn;
      max-width: 60px;
    }
    
    &:hover {
      border-color: $color-tomato;
      fill: $color-tomato;
    }
    
    &--visible {
      visibility: visible;
    }
  }

  &__totalTime {
    font-family: 'Inconsolata';
    font-size: 2em;
    font-weight: 800;
    margin: 0;

    &--task {
      font-size: 2.5em;
      grid-area: taskTime;
    }

    &--break {
      grid-area: breakTime;
    }
  }
}