@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Timer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  left: 0;
  position: absolute;
  top: 0;
  //transition: visibility 0s $time-slide;
  width: 100%;
  visibility: hidden;

  &--taskTime {
    background-color: rgb(148, 202, 193);
  }

  &--breakTime {
    background-color: rgb(114, 184, 126);
  }

  &--visible {
    //transition: visibility 0s;
    visibility: visible;
  }

  &__heading {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    padding: $layout-padding;
  }

  &__container {
    flex-grow: 1;
    font-weight: 600;
    height: 100%;
    position: relative;
  }
}