@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.TimeDisplay {
  font-family: 'Inconsolata';
  font-size: 2em;
  grid-area: display;
  height: 100%;
  position: relative;
  width: 100%;
  
  &__type {
    @include flex-center;
    width: 100%;
    font-size: 2em;
    height: 100%;
    visibility: hidden;
    transition: visibility 0s $time-display;
  
    &--visible {
      transition: visibility 0s;
      visibility: inherit;
    }

    &--elapsed {

    }

    &--remaining {
      left: 0;
      position: absolute;
      top: 0;
    }
  
    &--showUp {
      animation: showUp $time-display forwards;
    }
  
    &--hideUp {
      animation: hideUp $time-display forwards;
    }
  }
}