@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Timer {
  align-items: stretch;
  display: grid;
  grid-template-areas:
    "heading  "
    "countdown"
    "breaks   "
    "controls "
    "progress ";
  grid-template-rows: 150px 1fr auto auto;
  height: 100%;
  justify-items: stretch;
  left: 0;
  position: absolute;
  top: 0;
  transition: background-color $hover-card;
  visibility: hidden;
  width: 100%;

  &--taskTime {
    background-color: $color-teal-work;
  }

  &--breakTime {
    background-color: $color-teal-break;
  }

  &--visible {
    visibility: visible;
  }

  &__heading {
    @include flex-center;
    font-size: $card-taskName-size;
    font-weight: 600;
    grid-area: heading;
    margin: 0;
    padding: 40px $card-padding-md 0;
    text-align: center;
    word-break: break-word;
  }

  &__container {
    font-weight: 600;
    grid-area: countdown;
    height: 100%;
    position: relative;
  }

  &__breaks {
    font-size: 1.6em;
    font-weight: 600;
    grid-area: breaks;
    margin: 0;
    text-align: center;
  }

  &__progress {
    font-size: 1.5em;
    grid-area: progress;
    position: relative;
  }
}