@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.Timer {
  display: none;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &--taskTime {
    background-color: $color-primary;
  }

  &--breakTime {
    background-color: $color-background;
  }

  &--visible {
    display: flex;
  }

  &__heading {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    padding: $layout-padding;
  }

  &__container {
    flex-grow: 1;
    font-weight: 600;
    height: 100%;
    position: relative;
  }

  &__progress {
    position: relative;
  }
}