.TimeDisplay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   visibility: hidden;

   &--visible {
     visibility: inherit;
   }

   &--showUp {
     animation: showUp 0.5s forwards;
   }

   &--hideUp {
     animation: hideUp 0.5s forwards;
   }
}