@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.TotalTime {
  color: $color-teal-dark-2;
  display: none;
  flex-direction: column;
  text-align: center;
  transition: opacity $card-edit;
  width: 100%;
  
  &--taskTime {
    font-size: 3rem;
  }

  &--breakTime {
    font-size: 2.5rem;
  }

  &--main {
    color: $color-teal-light-3;
  }

  &--maximized {
    display: flex;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
  &:hover {
    cursor: text;
  }

  &__label {
    color: $color-teal-dark-1;
    font-size: 1.1rem;
    transition:
      color $card-edit,
      font-size $card-edit,
      margin-bottom $card-edit;

    &--editMode {
      color: $color-teal-light-2;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }

  &__display {
    align-items: center;
    border-radius: 10px;
    border-color: $color-teal-light-2;
    display: grid;
    grid-template-columns: repeat(2, 1fr) auto repeat(2, 1fr);
    justify-items: center;
    outline: none;
    overflow: hidden;
    transition:
      background-color $card-edit,
      border-color $card-edit,
      color $card-edit;
    width: 100%;

    &--editMode {
      background-color: $color-teal;
      border: $card-border;
      border-color: $color-teal-light-2;
      color: $color-teal-light-3;
    }

    &--incorrect {
      border-color: $color-teal-accent;
    }
  }

  &__unit {
    align-items: center;
    display: flex;
    font-weight: 600;
    height: 100%;
    position: relative;
    width: 100%;
  }

  &__text {
    margin: 0;
    opacity: 0;
    padding: 5px;
    text-align: center;
    visibility: hidden;
    width: 100%;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
  
  &__input {
    background: none;
    border: none;
    color: inherit;
    font-weight: inherit;
    height: 100%;
    left: 0;
    outline: none;
    position: absolute;
    text-align: center;
    top: 0;
    visibility: hidden;
    width: 100%;

    &--visible {
      visibility: visible;
    }

    &::placeholder {
      font-size: 0.3rem;
    }
  }
}