@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.TotalTime {
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: opacity $card-edit;
  width: 100%;
  
  &--taskTime {
    color: $color-white;
    font-size: 2.5em;
  }

  &--breakTime {
    font-size: 2em;
  }

  &--disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  
  &:hover {
    cursor: text;
  }

  &__label {
    font-size: 0.8rem;
    transition:
      color $card-edit,
      font-size $card-edit,
      margin-bottom $card-edit;

    &--editMode {
      color: $color-white;
      font-size: 1.5rem;
      margin-bottom: 1em;
    }
  }

  &__display {
    align-items: center;
    border: 2px solid transparent;
    display: grid;
    font-family: "Inconsolata";
    grid-template-columns: 1fr repeat(3, auto) 1fr;
    justify-items: center;
    transition:
      background-color $card-edit,
      border-color $card-edit,
      color $card-edit;
    width: 100%;

    &--editMode {
      background-color: $color-background;
      border-color: $color-white;
      color: $color-white;
    }

    &--incorrect {
      border-color: $color-warning;
    }
  }

  &__unit {
    font-weight: 600;
    font-size: 1.2em;
    position: relative;
  }

  &__text {
    margin: 0;
    opacity: 0;
    padding: 5px;
    text-align: center;
    visibility: hidden;
    width: 100%;
    word-break: break-word;

    &--visible {
      opacity: 1;
      visibility: visible;
    }
  }
  
  &__input {
    background: none;
    border: none;
    color: inherit;
    font-weight: inherit;
    height: 100%;
    left: 0;
    outline: none;
    position: absolute;
    text-align: center;
    top: 0;
    visibility: hidden;
    width: 100%;

    &--visible {
      visibility: visible;
    }
  }
  
  &__colon {
    font-size: 1.2em;
    font-weight: 600;
  }
}