@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.UserEdit {
  display: flex;
  flex-direction: column;
  max-width: $sidebar-content-width-xs;
  opacity: 1;
  transition:
    max-height $sidebar-edit-toggle $sidebar-edit-toggle,
    opacity $sidebar-edit-toggle $sidebar-edit-toggle,
    visibility 0s;
  visibility: visible;
  width: 100%;

  &--login {
    max-height: 120px;
  }
  &--password {
    max-height: 380px;
  }
  &--logout {
    max-height: 60px;
  }
  &--remove {
    max-height: 60px;
  }

  &--hidden {
    max-height: 0;
    opacity: 0;
    transition:
      max-height $sidebar-edit-toggle,
      opacity $sidebar-edit-toggle,
      visibility 0s $sidebar-edit-toggle;
    visibility: hidden;
  }

  @media only screen and (min-width: $media-md) {
    max-width: $sidebar-content-width-md;
  }

  &__text {
    background-color: $color-teal-dark-2;
    border-radius: 6px;
    color:$color-teal-light-1;
    font-weight: 700;
    font-size: 1.2em;
    margin: 0;
    padding: 1em 0.5em;
    text-align: center;
  }
}