@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.UserInput {
  align-items: center;
  display: grid;
  gap: 0.3em 0.6em;
  grid-template-areas:
  "label label label"
  "input input icons"
  "alert alert .    ";
  grid-template-columns: repeat(2, 1fr) auto;

  &--login {
    grid-area: login;
  }

  &--password {
    grid-area: password;
  }

  &--confirm {
    grid-area: confirm;
  }
  
  @media only screen and (min-width: $media-md) {

    & {
      &--loginForm,
      &--signupForm {
        gap: 0.6em 0.8em;
        grid-template-areas:
        "label input input icons"
        ".     alert alert .    ";
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  &__heading {
    font-size: 1.5em;
    grid-area: heading;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  &__label {
    justify-self: start;
    font-size: 1.2em;
    font-weight: 700;
    grid-area: label;

    &--loginForm {
      color: $color-teal-dark-1;
    }

    &--signupForm {
      color: $color-teal-dark-1;
    }
  
    &--disabled {
      color: rgba($color: $color-teal-dark-2, $alpha: 0.5);
    }
  
    @media only screen and (min-width: $media-md) {

      & {
        justify-self: end;

        &--userEdit {
          justify-self: start;
        }
      }
    }
  }
  
  &__input {
    background-color: $color-teal-dark-1;
    border: none;
    box-shadow: $placeholder-shadow-small;
    border-radius: 5px;
    color: $color-teal-light-3;
    font-size: 1.4em;
    font-weight: 400;
    grid-area: input;
    min-width: 150px;
    outline: none;
    padding: 0.5em;
    width: 100%;
  
    &:focus {
      background-color: $color-teal-dark-2;
      box-shadow: $placeholder-shadow-medium;
    }

    &--disabled {
      background-color: rgba($color: $color-teal-dark-2, $alpha: 0.5);
    }
  }
  
  &__alertBox {
    @include inputAlertBox;
  }
  
  &__alert {
    @include inputAlert;
  }

  &__icons {
    column-gap: 5px;
    display: grid;
    grid-area: icons;
    grid-template-columns: repeat(2, auto);
    justify-content: start;
  }
}

.inputPassed {
  height: $login-icons;
  overflow: hidden;
  width: 0;
  transition: width 0.2s;

  &--visible {
    width: $login-icons;
  }

  &--loginForm {
    fill: $color-teal-dark-2;

  }

  &--signupForm {
    fill: $color-teal;
  }

  &--userEdit {
    fill: $color-teal-dark-1;
  }

  &__svg {
    width: $login-icons;
  }
}

.previewPassword {
  @include button;
  height: $login-icons;
  width: $login-icons;
  transition: transform 0.2s;

  &--loginForm {
    fill: $color-teal-dark-2;

    &:hover {
      fill: $color-teal-light-3;
    }
  }

  &--signupForm {
    fill: $color-teal;

    &:hover {
      fill: $color-teal-light-3;
    }
  }

  &--disabled {
    fill: $color-teal-dark-1;
    pointer-events: none;
  }

  &--active {
    fill: $color-teal-light-2;
    transform: rotate(180deg);
  }

  &__svg {
    width: 100%;
  }
}