@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.UserPanel {
  @include flex-center;
  bottom: 0;
  flex-direction: column;
  left: 0;
  min-height: 540px;
  opacity: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity $time-component-fade, visibility 0s $time-component-fade;
  visibility: hidden;
  z-index: 1;

  &--visible {
    opacity: 1;
    transition: opacity $time-component-fade, visibility 0s;
    visibility: visible;
  }

  &__logo {
    animation: textLogoFadeIn 0.3s forwards;
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 20px;

    &--color {
      color: $color-teal-dark-3;
    }

    &--fadeOut {
      animation: textLogoFadeOut 0.3s forwards;
    }

    @media only screen and (min-width: $media-md) {
      font-size: 80px;
    }
  }

  &__container {
    max-width: 400px;
    position: relative;
    perspective: 1200px;
    width: 100%;

    @media only screen and (min-width: $media-md) {
      max-width: 700px;
    }    
  }
}