@import "_variables.scss";
@import "_mixins.scss";
@import "_animations.scss";

.loginForm,
.signupForm {
  align-items: center;
  box-shadow: $card-shadow-medium;
  border-radius: 10px;
  display: grid;
  gap: 0.3em 0.6em;
  grid-template-columns: repeat(2, 1fr) auto;
  min-width: 250px;
  padding: 20px;
  transform: rotate3d(0, 1, 0, -90deg);
  visibility: hidden;

  &--rotateIn {
    animation: rotateIn $toggle-card $toggle-card ease-out forwards;
    visibility: visible;
  }

  &--rotateOut {
    animation: rotateOut $toggle-card ease-in forwards;
    transition: visibility 0s $toggle-card;
  }
  
  @media only screen and (min-width: $media-md) {

    & {
      gap: 0.6em 0.8em;
      grid-template-columns: repeat(4, 1fr);
    }
  }

  &__heading {
    font-size: 1.5em;
    grid-area: heading;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }

  &__label {
    justify-self: start;
    font-size: 1.2em;
    font-weight: 700;
    grid-area: label;

    &--login { grid-area: labelLogin; }
    &--password { grid-area: labelPassword; }
    &--confirm { grid-area: labelConfirm; }
  
    @media only screen and (min-width: $media-md) {
      justify-self: end;
    }
  }
  
  &__input {
    background-color: $color-teal-dark-1;
    border: none;
    box-shadow: $placeholder-shadow-small;
    border-radius: 5px;
    color: $color-teal-light-3;
    font-size: 1.4em;
    font-weight: 400;
    min-width: 150px;
    outline: none;
    padding: 0.5em;
    width: 100%;

    &--login { grid-area: inputLogin; }
    &--password { grid-area: inputPassword; }
    &--confirm { grid-area: inputConfirm; }
  
    &:focus {
      background-color: $color-teal-dark-2;
      box-shadow: $placeholder-shadow-medium;
    }
  }
  
  &__alertBox {
    max-height: 0;
    overflow: hidden;
    transition: max-height $time-alert, visibility 0s $time-alert;

    &--login { grid-area: alertLogin; }
    &--password { grid-area: alertPassword; }
    &--confirm { grid-area: alertConfirm; }
  
    &--visible {
      max-height: 60px;
      transition: max-height $time-alert, visibility 0s;
    }
  
    @media only screen and (min-width: $media-md) {
  
      &--visible {
        max-height: 40px;
      }
    }
  }
  
  &__alert {
    @include flex-center;
    background-color: $color-teal-warning;
    border-radius: 5px;
    color: $color-teal-light-2;
    font-size: 1em;
    font-weight: 400;
    margin: 0;
    padding: 0.5em;
    text-align: center;
  }

  &__icons {
    column-gap: 5px;
    display: grid;
    grid-template-columns: 30px auto;

    &--login { grid-area: iconsLogin; }
    &--password { grid-area: iconsPassword; }
    &--confirm { grid-area: iconsConfirm; }
  }
  
  &__button {
    @include button;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: 700;
    margin-top: 20px;
    padding: 0.5em;
  
    &--login {
      grid-area: loginBtn;
    }
  
    &--signup {
      grid-area: signupBtn;
    }
  
    @media only screen and (min-width: $media-md) {
  
      & {
        font-size: 1.3em;
        margin-top: 10px;
        padding: 0.7em;
      }
    }
  }
}

.loginForm {
  background-color: $color-teal;
  grid-template-areas:
  "heading       heading       heading      "
  "labelLogin    labelLogin    .            "
  "inputLogin    inputLogin    iconsLogin   "
  "alertLogin    alertLogin    .            "
  "labelPassword labelPassword .            "
  "inputPassword inputPassword iconsPassword"
  "alertPassword alertPassword .            "
  "remember      remember      .            "
  "loginBtn      signupBtn     .            ";
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  
  @media only screen and (min-width: $media-md) {

    & {
      grid-template-areas:
      ".              heading       heading       .            "
      "labelLogin     inputLogin    inputLogin    iconsLogin   "
      ".              alertLogin    alertLogin    .            "
      "labelPassword  inputPassword inputPassword iconsPassword"
      ".              alertPassword alertPassword .            "
      ".              remember      remember      .            "
      ".              loginBtn      signupBtn     .            ";
    }
  }

  &__heading {
    color: $color-teal-dark-2;
  }

  &__label {
    color: $color-teal-dark-1;
  }

  &__button {
    background-color: $color-teal-dark-2;
    color: $color-teal-light-1;
  
    @mixin buttonActive {
      background-color: $color-teal-dark-3;
      color: $color-teal-light-2;
    }
  
    &:active {
      @include buttonActive;
    }
  
    @media only screen and (min-width: $media-md) {
  
      &:focus,
      &:hover {
        @include buttonActive;
      }
    }
  }
}

.signupForm {
  background-color: $color-teal-dark-3;
  grid-template-areas:
  "heading       heading       heading      "
  "labelLogin    labelLogin    .            "
  "inputLogin    inputLogin    iconsLogin   "
  "alertLogin    alertLogin    .            "
  "labelPassword labelPassword .            "
  "inputPassword inputPassword iconsPassword"
  "alertPassword alertPassword .            "
  "labelConfirm  labelConfirm  .            "
  "inputConfirm  inputConfirm  iconsConfirm "
  "alertConfirm  alertConfirm  .            "
  "remember      remember      .            "
  "loginBtn      signupBtn     .            ";
  
  @media only screen and (min-width: $media-md) {

    & {
      grid-template-areas:
      ".              heading       heading       .            "
      "labelLogin     inputLogin    inputLogin    iconsLogin   "
      ".              alertLogin    alertLogin    .            "
      "labelPassword  inputPassword inputPassword iconsPassword"
      ".              alertPassword alertPassword .            "
      "labelConfirm   inputConfirm  inputConfirm  iconsConfirm "
      ".              alertConfirm  alertConfirm  .            "
      ".              remember      remember      .            "
      ".              loginBtn      signupBtn     .            ";
    }
  }

  &__heading {
    color: $color-teal-light-1;
  }

  &__label {
    color: $color-teal-dark-1;

    &--disabled {
      color: rgba($color: $color-teal-dark-2, $alpha: 0.5);
    }
  }

  &__input--disabled {
    background-color: rgba($color: $color-teal-dark-2, $alpha: 0.5);
  }

  &__button {
    background-color: $color-teal-dark-2;
    color: $color-teal-light-1;
    @mixin buttonActive {
      background-color: $color-teal;
      color: $color-teal-light-2;
    }
  
    &:active {
      @include buttonActive;
    }
  
    @media only screen and (min-width: $media-md) {
  
      &:focus,
      &:hover {
        @include buttonActive;
      }
    }
  }
}

.inputPassed {
  height: $login-icons;
  overflow: hidden;
  width: 0;
  transition: width 0.2s;

  &--visible {
    width: $login-icons;
  }

  &--loginForm {
    fill: $color-teal-dark-2;

  }

  &--signupForm {
    fill: $color-teal;

  }

  &__svg {
    width: $login-icons;
  }
}

.previewPassword {
  @include button;
  height: $login-icons;
  width: $login-icons;
  transition: transform 0.2s;

  &--loginForm {
    fill: $color-teal-dark-2;

    &:hover {
      fill: $color-teal-light-3;
    }
  }

  &--signupForm {
    fill: $color-teal;

    &:hover {
      fill: $color-teal-light-3;
    }
  }

  &--disabled {
    fill: $color-teal-dark-1;
    pointer-events: none;
  }

  &--active {
    fill: $color-teal-light-2;
    transform: rotate(180deg);
  }

  &__svg {
    width: 100%;
  }
}

.remember {
  align-items: center;
  display: flex;
  grid-area: remember;

  &__field {
    border: 3px solid;
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
    position: relative;
    width: 25px;

    &--loginForm {
      border-color: $color-teal-dark-2;
    }

    &--signupForm {
      border-color: $color-teal-dark-1;
    }
  }

  &__checkbox {
    height: 30px;
    left: -5px;
    position: absolute;
    top: -6px;
    visibility: hidden;
    width: 30px;

    &--visible {
      visibility: visible;
    }

    &--loginForm {
      fill: $color-teal-dark-3;
    }

    &--signupForm {
      fill: $color-teal-light-3;
    }
  }

  &__input {
    display: none;
    position: absolute;    
  }

  &__label {
    cursor: pointer;
    font-size: 1.1em;
    font-weight: 700;
    margin-left: 10px;

    &--loginForm {
      color: $color-teal-dark-2;
    }

    &--signupForm {
      color: $color-teal-dark-1;
    }
  }
}